<apex:page standardStylesheets="false" lightningStylesheets="true" showHeader="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    <!---<div class="header"></div>
    <div class="content">
        <apex:sectionHeader
<a href="http://www.bmanaga.org/" title="Bangladesh Medical Association of North America Georgia Chapter">Bangladesh Medical Association of North America Georgia Chapter</a>
    </div>---->
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <style>
                .btn {
                display: inline-block;
                background: #008aab;
                color: white !important;
                border-radius: 2rem;
                border: 0;
                margin-top: 20px;
                /*font-size: 15px;*/
                font-weight: 400;
                line-height: normal;
                outline: none;
                padding: 7px;
                min-width: 10rem;
                }
                .btn[disabled] {
                background: lightgrey;
                color:grey;
                }
                .btnCancel {
                border: 1px solid #008aab;
                border-radius: 2rem;
                padding: 6px 3.65rem;
                margin-right: 1rem;
                }
            </style>
        </head>
        
        <body class="slds-scope bolt">
            <div class="slds-col slds-text-align_center" style="margin: 5% 10%;">
                <br />
                <centre>
                    <h4 style="font-size: 24pt;color:#3c4665; margin-left: 35%;">
                         Congratulations!
                    </h4>
                </centre>
                <h1 style="font-size: 15pt; color:#ec9e0f">
                    Your appoitment has been booked successfully for date {!$CurrentPage.parameters.Date} From: {!$CurrentPage.parameters.From} To: {!$CurrentPage.parameters.To}.<br/>
                    You will receive meeting invite on confirmation. 
                </h1>
                <br />
            </div>
        </body>
    </html>
</apex:page>