<apex:page controller="PatientSummary" sidebar="false" showHeader="false">    
    <center>
        <apex:form >
            <P style="font-size:22px;"><u>Send PDF as Attachment</u></P>
            <apex:inputText value="{!email}" title="Patient's Email" label="Patient's Email"/>
            <!--input type="text" value="" id="txtEmailAddress"/--><br/><br/>
            <!--input type="button" onclick="SendEmailAttachment();" value="Send"/-->
            <apex:commandButton value="Send" action="{!SendAttachment1}"/>
        </apex:form>
    </center>
    <!--script>
    function SendEmailAttachment(){
        var patientId = '{!$CurrentPage.parameters.Id}';
        var emailAddress=document.getElementById('txtEmailAddress').value;
        if(emailAddress!=null && emailAddress!=''){
            PatientSummary.SendAttachment(emailAddress,patientId,function(result,event){
                if(event.status){
                    if(result=='SUCCESS'){
                        alert('Email sent successfully.');
                        window.top.location = '/{!$CurrentPage.parameters.Id}';
                    }
                    else{
                        alert(result);
                    }
                }
            })
        }
        else{
            alert('Please provide email address!');
        }
    }
    </script-->
 </apex:page>