<apex:page controller="OP_HomePageController" sidebar="false" docType="html-5.0">
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <title>Patient App</title>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
            
        </head>
        <body>
            <style>
                .panel-heading {
                background: #376b9d;
                border-bottom: 3px solid #4aa6ed;
                color: #fff;
                }
                
            </style>
            <script>
            function reschedule(visitName, VisitNumber, cancelledConsultName, cancelledConsultId ){
                window.top.location  = 'https://na16.salesforce.com/a02/e?CF00Nj0000006SPuc='+visitName+'&CF00Nj0000006SPuc_lkid='+VisitNumber+'&CF00Nj0000006SPuV='+cancelledConsultName+'&CF00Nj0000006SPuV_lkid='+cancelledConsultId +'&retURL=/home/home.jsp'   ;
            }
            function checkDates(fromDate, toDate){
                alert('--fromDate--'+fromDate+'--toDate--'+toDate);
                if(fromDate < toDate){
                    alert('Correcr');
                }else{
                    alert('wrong');
                }
            }
            </script>
            <div class="container">
                <apex:form >    
                    <div class="panel panel-default">
                        <div class="panel-heading">Current Patient</div>
                        <div class="panel-body">
                            
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th> Visit </th>
                                            <th> Patient Id </th>
                                            <th> Patient Name </th>
                                            <th> Physician Name </th>
                                            <th> Check-in time </th>
                                            <th> Location </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <apex:repeat value="{!lstVisit}" var="visit">
                                            <tr>
                                                <td><apex:outputLink value="/{!visit.Id}" target="_top">{!visit.Name}</apex:outputLink></td>
                                                <td>{!visit.Patient__r.Patient_ID__c}</td>
                                                <td><apex:outputlink value="/apex/PatientSummaryPage?id={!visit.Patient__r.Id}" target="_top">{!visit.Patient__r.Name}</apex:outputLink></td>
                                                <td>{!visit.Onsite_Physician__r.Name}</td>
                                                <td><apex:outputfield value="{!visit.Check_In_time__c}" /></td>
                                                
                                                <td>{!visit.Patient__r.Account.Name}</td>
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--Patient List Panel End--> 
                    
                    
                    <apex:outputPanel id="myPanel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <table column="1">
                                    <tr>
                                        <td>
                                            Past Patient
                                        </td>
                                        <td style ="padding-left: 600px;">
                                            From: &nbsp;<apex:input type="date" value="{!fromDate}" label="From:" style="line-height: unset;"/>&nbsp;
                                    <apex:commandButton id="saveBtn" value="Refresh" action="{!getMyPatientListOnSelecteddate}" reRender="myPanel"/>

                                        </td>
                                    </tr>
                                </table>
                                

                                                             
                            </div>
                            <div class="panel-body">
                                
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th> Visit </th>
                                                <th> Patient Id </th>
                                                <th> Patient Name </th>
                                                <th> Physician Name </th>
                                                <th> Check-in time </th>
                                                <th> Location </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <apex:repeat value="{!visitLst}" var="visit" id="vlist">
                                                <tr>
                                                    <td><apex:outputLink value="/{!visit.Id}" target="_top">{!visit.Name}</apex:outputLink></td>
                                                    <td>{!visit.Patient__r.Patient_ID__c}</td>
                                                    <td><apex:outputlink value="/apex/PatientSummaryPage?id={!visit.Patient__r.Id}" target="_top">{!visit.Patient__r.Name}</apex:outputLink></td>
                                                    <td>{!visit.Onsite_Physician__r.Name}</td>
                                                    <td><apex:outputfield value="{!visit.Check_In_time__c}" /></td>
                                                    
                                                    <td>{!visit.Patient__r.Account.Name}</td>
                                                </tr>
                                            </apex:repeat>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </apex:outputPanel>
                    <!--Patient List Panel End--> 
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">Unviewed Report</div>
                        <div class="panel-body">
                            
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <!--<th> Report No </th>-->
                                            <th> Lab Name</th>
                                            <th>Patient</th>
                                            <th> Type </th>
                                            <th> Date </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <apex:repeat value="{!lstLabReport}" var="LR">
                                            <tr>
                                                <!-- <td></td> -->
                                                <td><apex:outputLink value="/{!LR.Id}" target="_top">{!LR.Name}</apex:outputLink></td>
                                                <td><apex:outputLink value="/{!LR.Patient__c}" target="_top">{!LR.Patient__r.Name} </apex:outputLink></td>
                                                <td>{!LR.RecordType.Name}</td>
                                                <td><apex:outputfield value="{!LR.CreatedDate}"  /></td>
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Task Related list -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Inbox</div>
                        <div class="panel-body">
                            
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>From</th>
                                            <th> Subject</th>
                                            <th> Patient</th>
                                            <th>Due Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <apex:repeat value="{!lstTask}" var="TK">
                                            <tr>
                                                <td> {!TK.CreatedBy.Name} </td>
                                                <td><apex:outputLink value="/{!TK.Id}" target="_top">{!TK.Subject}</apex:outputLink></td>
                                                <td><apex:outputlink value="/apex/PatientSummaryPage?id={!TK.WhoId}" target="_top">{!TK.who.Name}</apex:outputlink></td>
                                                <td><apex:outputfield value="{!TK.ActivityDate}" /></td>
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Consulting window -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Scheduled Consultation</div>
                        <div class="panel-body">
                            
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Visit</th>
                                            <th>Patient</th>
                                            <th>With Whom</th>
                                            <th>Start Date Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <apex:repeat value="{!todaysConsulting}" var="todayc">
                                            <tr>
                                                <td><apex:outputLink value="/{!todayc.Visit__c}" target="_top">{!todayc.visit__r.Name}</apex:outputLink></td>
                                                <td><apex:outputLink value="/{!todayc.visit__r.Patient__c}" target="_top">{!todayc.visit__r.Patient__r.Name}</apex:outputLink></td>
                                                <td>{!todayc.User__r.Name}</td>
                                                <td><apex:outputfield value="{!todayc.Slot__r.Start_Time__c}" /></td>
                                                <!--<td><apex:outputlink value="/apex/consultationpage?Id={!todayc.visit__r.Patient__c}&visitId={!todayc.Visit__c}&ConsultationId={!todayc.Id}" target="_top"> Start VC </apex:outputLink> |  
<apex:outputlink value="/{!todayc.Id}/e" target="_top">Reschedule</apex:outputlink> </td>-->
                                                <td><apex:outputlink value="{!todayc.HangoutURL__c}" target="_blank">Start Meeting</apex:outputlink> </td>
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Cancelled Consulting window -->                    
                    <div class="panel panel-default">
                        <div class="panel-heading">Cancelled Consultation</div>
                        <div class="panel-body">
                            
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Visit</th>
                                            <th>Patient</th>
                                            <th>With Whom</th>
                                            <th>Start Date Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <apex:repeat value="{!CancelledConsulting}" var="cancelled">
                                            <tr>
                                                <td><apex:outputLink value="/{!cancelled.Visit__c}" target="_top">{!cancelled.visit__r.Name}</apex:outputlink></td>
                                                <td><apex:outputlink value="/apex/PatientSummaryPage?id={!cancelled.visit__r.Patient__c}" target="_top">{!cancelled.visit__r.Patient__r.Name}</apex:outputlink></td>
                                                <td>{!cancelled.User__r.Name}</td>
                                                <td><apex:outputfield value="{!cancelled.Slot__r.Start_Time__c}" /></td>
                                                <td><input type="button" value="Reschedule" class="btn" onclick="reschedule('{!cancelled.Visit__r.Name}', '{!cancelled.Visit__c}', '{!cancelled.Name}', '{!cancelled.Id}');"  /> </td>
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </apex:form>
            </div>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
                <script src="js/bootstrap.min.js"></script>
            
        </body>
    </html>
    <style>
        .container {
        padding-right: 0px;
        padding-left: 0px;
        }
        
        .panel-body {
        padding: 3px;
        }
        
        .table-striped table-bordered {
        margin-bottom: 3px;
        }   
    </style>
</apex:page>